.back{
  background-image: url('https://images.unsplash.com/photo-1619252584172-a83a949b6efd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGlnaHQlMjB0aGVtZXxlbnwwfHwwfHw%3D&w=1000&q=80');
  min-height: 500px;
  background-repeat:no-repeat;
  background-size: 100% 100%;
}